<% if @article.errors.any? %> 
<h2> The following errors prevented the article from being saved </h2>
<ul>
<% @article.errors.full_messages.each do |msg| %>
	
	<li><%= msg %></li>

<% end %>
</ul>
<% end %>

<%= form_with(model: @article, local: true) do |f| %>

<p>
	<%= f.label :title %> <br/>
	<%= f.text_field :title %>
</p>

<p> <%= f.label :descrption%> <br/>
	<%= f.text_area :descrption%>
</p>

<p> <%= f.submit %></p>
	
<% end %>