<h1> Edit new article </h1>
<%= render 'form'%>


<%= link_to "Return to listing", articles_path %>
<%= button_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you sure" } %>