<h1> Articles listing page</h1>

<table>
<thead>
	<tr>
	<th> Title </th> <th> Descption </th> <th colspan="3"> Action </th>
	</tr>
</thead>

<tbody>
	<% @articles.each do |article| %>
	 <tr>
		<td><%= article.title %></td>
		<td><%= article.descrption %></td>
		<td><%= link_to "Show", article %> </td>
		<td><%= link_to "Edit", edit_article_path(article) %> </td>
		<td><%= button_to "Destroy", article, method: :delete, :confirm => "Are you sure?" %> </td>
	 </tr>
	<% end %>
</tbody>
</table>
<p>
<td><%= link_to "Create new article", new_article_path %> </td>
</p>