<h1> showing the articles details</h1>

<p> <strong> Title : </strong> <%=@article.title%> </p>
<p> <strong>Descrption :  </strong><%=@article.descrption%> </p>



<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to "Return to listing", articles_path %>  |
<%= button_to 'Destroy', @article, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %> 